html,
body{
	padding:0;
	margin:0;
	width:100%;
	background: rgb(77, 77, 77);
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size:100%; /* 16px */
}

#header-unit{
	padding:0;
	width:100%;
	height: 19em;
	color:white;
	margin-bottom: 5px;
	background: url(../pics/banner/laptop.jpg) repeat;	/* Replace with a banner/color/whatever you want */
	background-size: 100% auto;
	background-size: cover;
}

#header-unit h1{
	margin:0;
	padding:0;
	position:relative;
	top:68px;
	left:40px;
	width:10em;
}

h1{ /* All the h1s on this website are affected by these settings */
	font-size: 2em;
	font-weight: 300;
	margin:0;
}

#container,
footer,
.aside_buttons,
.nav_div{ /* The borders are INSIDE the elements */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#container{ /* A major container. This container holds all the actual content on the page */
	float:right;
	padding-left:1em; /* Creates space between the container - div and the aside - section */
	max-width:1410px;
	width:74.308300395%; /* 940px / 1265px */
	color: rgba(255, 255, 255, 0.82);
}

article{ /* Anchors the image and paragraph - sections */
	width:80%;
}

.aside_buttons{
	width:24.525316455%;
}

.nav_div{ /* Nav_div's settings. Dropdown buttons are on top of this div */
	background-color: rgba(97, 97, 97, 0.90);
	width:100%;
	position:fixed;
	z-index: 1;
}

article img{
	float:right;
	max-width: 100%;
	min-width: 200px;
	border-radius: 7px;
	width:30%;
	height:auto;
	margin:0 1em 1em 1em;
	z-index: 0;
}

footer{
	clear:both;
	border-top:2px solid rgb(62, 62, 62);
	color: rgba(255, 255, 255, 0.90);
	margin-top:2em;
	padding:1.2em;
}


/* ****************** BELOW: aside_div's button ******************  */
.aside_buttons button,	/* Buttons */
.aside_buttons button:hover,
.aside_buttons button:active{
	display:block;
	padding:1em;
	margin:1em;
	background-color: #616161;
	cursor:pointer;
	border-radius:4px;
	border:transparent;
	text-align: left;
	font-size:1em;
	font-weight: 300;
	width:100%;
}

.aside_buttons button{ /* Sets the base - color for the aside button's font */
	color: rgba(255, 255, 255, 0.82);
}

.aside_buttons button:hover{ /* Button mouse hover */
	background-color: rgb(143, 143, 143);
	color: #fafafa;
}

.aside_buttons button:active{ /* Button mouse click */
	background-color: #4e4e4e;
}
/* ****************** ABOVE: aside_div's button ******************  */



/* ****************** BELOW: dropdown menu's styling configurations ******************  */
.dropdown,
.dropdown ul,
.dropdown li{
	display        : inline;
	margin         : 0;
	padding        : 0;
	font-weight    : 400;
	font-size      : 1em;
	letter-spacing : 1px;
}

.dropdown{
	margin-right: 1em;
	float       : right;
}

.dropdown ul{
	display  : none;
	position : absolute;
	top      : 100%;
	left     : 0;
	z-index  : 1;
}

[dir=rtl] .dropdown ul{
	left  : auto;
	right : 0;
}

.dropdown ul ul,
[dir=rtl] .dropdown ul .dropdownLeftToRight ul{
	top   : 0;
	left  : 100%;
	right : auto;
}

[dir=rtl] .dropdown ul ul,
.dropdown ul .dropdownRightToLeft ul{
	left  : auto;
	right : 100%;
}

.dropdown li{
	position        : relative;
	display         : block;
	list-style-type : none;
}

.dropdown > li{
	display : inline-block;
}

.dropdown a,
.dropdown span{
	display         : block;
	text-decoration : none;
	white-space     : pre;
}

.dropdown li:hover > ul{
	display : block;
}

.dropdownVertical{
	display : inline-block;
}

.dropdownVertical > li{
	display : block;
}

.dropdownVertical ul{
	top  : 0;
	left : 100%;
}

[dir=rtl] .dropdownVertical ul{
	left  : auto;
	right : 100%;
}

.dropdownJavaScript li:hover > ul{
	display : none;
}

.dropdownJavaScript li.dropdownOpen > ul{
	display : block;
}

/* set the background colour */
.dropdown ul{
	background-color: rgb(97, 97, 97);
}

/* pad items, set their text colour, and fade their background colour */
.dropdown a,
.dropdown span{
	padding    : 0.25em 0.5em;
	color: #dddddd;
	transition : background 0.2s;
}

/* set the background colour of active items */
.dropdown li:hover > a,
.dropdown li:hover > span,
.dropdown li.dropdownOpen > a,
.dropdown li.dropdownOpen > span{
	background-color: rgb(136, 136, 136);
}
/* ****************** ABOVE: dropdown menu's styling configurations ******************  */



/* ****************** BELOW: Media queries ******************  */
@media screen and (max-width: 1060px) {
	body {
		font-size: 95%;
	}

	.aside_buttons{
		width:95%;
		float:none;
	}

	#header-unit{
		background: url(../pics/banner/tablet.jpg) repeat;	/* Replace with a banner/color/whatever you want */
		height: 20em;
		background-size: 100% auto;
		background-size: cover;
	}

	article{ /* Makes the content of the page tighter and more pleasing to the eye */
		margin:auto; /* Centers the article - sections inside the #container */
		width:90%;
	}

	article img {
		min-width: 270px;
	}

	#container{
		float: initial;
		width:100%;
	}

	.aside_buttons button,	/* Buttons */
	.aside_buttons button:hover,
	.aside_buttons button:active{
		width:60%;
		font-size:1.1em;
		text-align: center;
		margin:5px auto 5px auto;
	}
}

@media screen and (max-width: 710px) {

	article img {
		float:none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:60%;
	}
}

@media screen and (max-width: 480px) {

	.aside_buttons{
		width:95%;
		margin:auto;
	}

	#header-unit{
		background: url(../pics/banner/phone.jpg) repeat;	/* Replace with a banner/color/whatever you want */
		background-size: 100% auto;
		background-size: cover;
	}

	#container{
		padding:0;
		width:95%;
		margin:auto;
	}

	h1{
		font-size: 1.6em;
	}

	article img {
		width:65%;
	}

	.aside_buttons button,	/* Buttons */
	.aside_buttons button:hover,
	.aside_buttons button:active{
		width:95%;
	}

	.dropdown li{
		margin  : 0;
		padding : 0;
		font-weight:400;
		font-size:1em;
		letter-spacing:1px;
	}
}
/* ****************** ABOVE: Media queries for RWD - experience ******************  */